.profile-sub-container {
    margin-top: 70px;
    padding : 16px;
}

.profile-sub-header-container {
    padding: 6px;
}

.profile-name-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-content-container p {
    text-wrap: wrap;
    margin : 5px;
}

.text-highlight {
    color: black;
}