body {
  height: fit-content;
  display: block;
  color: #666768;
}

#root {
  width: 100%;
  height: 100%;
  background-color: white;
  margin : 0;
  align-items: start;
  justify-content: baseline;
}

.app-container {
  width: 100%;
}
